*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Cardo', serif;
  background-color: #023047 ;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}




/*nav bar*/
.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;

}
.nav-links a {
 color: #40E1F9;
}
.logo {
 font-size: 20px;
 color: orange;
 font-weight: bolder;

}
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}
.menu li:hover {
 background-color: white;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
 padding: 5px 14px;
}
.menu li a{
  color: orange;
  font-size: 20px;
}
.menu li a:hover{
  color: black;
}

/* Welcome message*/
.d1{
  padding:40px 20px;
  align-items: center;
}
.d1 p{
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px orange;
}



/* csv files upload divs*/
.d2{
  display: flex;
  flex-wrap: wrap;
  padding:20px 10px;
}
.d2d1{
  flex: 50%;
  max-width: 50%;
  background-color: orange;
}
.d2d2{
  flex: 50%;
  max-width: 50%;
  background-color: orange;
}
.d2d1d1{
  padding: 20px 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
}
.d2d2d2{
  padding: 20px 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
}
.d2d1d1 p{
  text-align: center;
  font-size: 30px;
  color: orange;
  font-weight: bold;
  text-shadow: 1px 1px black;
}
.d2d2d2 p{
  text-align: center;
  font-size: 30px;
  color: orange;
  font-weight: bold;
  text-shadow: 1px 1px black;
}




/*execution button*/
.d3{
  display: flex;
  flex-wrap: wrap;
  padding:20px 10px;

}
.d3d1{
  flex: 100%;
  max-width: 100%;
  padding: 10px 10px;
  margin: 20px 400px 0;
  border-radius: 10px;
  background-color: white;
  border: 5px solid orange;
}
.d3d1 p{
  color: orange;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.dxdz{
  flex: 100%;
  max-width: 100%;
  padding: 5px 5px;
  margin: 20px 400px 0;
  border-radius: 10px;
  background-color: white;
  border: 5px solid orange;
}
.dydxdz p{
  text-align: center;
  font-size: 30px;
  color: orange;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

/*download button*/
.d4{
  display: flex;
  flex-wrap: wrap;
  padding:20px 10px;
}
.d4d1{
  flex: 100%;
  max-width: 100%;
  padding: 5px;
  margin: 0px 400px 0;
  border-radius: 10px;
  background-color: white;
  border: 5px solid orange;
}
.d4d1 p{
  color: orange;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px black;
}




/* footer */
.d5{
  width: 100%;
  padding: 30px 10px;
}
.d5 p{
  text-align: center;
  color: white;
  text-shadow: 0.5px 0.5px orange;
  font-size: 15px;
}


/* button gradient*/
.btn-grad {
   background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: black;
   border: 5px outset lightgrey ;


 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: black;
   text-decoration: none;
   cursor: pointer;
 }

 .cen{
   text-align: center;
   align-items: center;
 }